body {
	margin:0;
	max-width:cover;
}
.zedashavi {

	
	background-color:#181818;
	
}





.zedashavi ul {
	margin-left:1020px;
	list-style:none;
	position:relative;
	
	bottom:20px;
	color:#D3D3D3;
}
.zedashavi li {
	display:inline;
	padding-right:42px;
	font-family:arial;
	font-size:14px;
}
.logo {
	position:relative;
	left:70px;
	top:18px;
	
	
}
.zedashua {
	position:relative;
	text-align:center;
	margin-top:100px;
	
}
.separator {
	width:40px;
	height:1px;
	background:#505050;
	margin-top:30px;
	margin:bottom:30px;
	margin-left:auto;
	margin-right:auto;
	
}
.zedashua h1 
{	position:Relative;
    top:20px;
	color:#161819;
	font-size:85px;
	font-family:sans-serif;
}
.zedashua h3 {
	font-family:sans-serif;
	
	
}
.suratebi {
	box-sizing:border-box;
	
}






























































